* {
  font-family: Roboto, sans-serif;
}

body {
  background: #e7e7e7;
}

.logo {
  font-weight: 200;
  color: #7e7e7e;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

span {
  color: #289d26;
}

.start-btn:focus {
  outline: none;
}

.text-display-box {
  font-size: 22px;
}

.card {
  box-shadow: 1px 4px 10px rgba(36, 36, 36, 0.44);
}
