<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css">
  <title>Casy Typing</title>
</head>

<body>
  <section class="main-wrapper">

    <header>
      <h1>
        <span class="logo">casy</span>Typing
      </h1>
      <button class="btn start-btn">Start</button>
      <h6>Improve your typing and learn interesting facts!</h6>
    </header>

    <main>
      <div class="card">
        <div class="card-header"> 
          <h2 class="score">Select Category</h2>
          <div>
            <input class="text-category" type="range" min="0" max="5" value="0">
          </div>
        </div>
        <div class="card-body">
          <p class="text-display-box">
            <span></span>Press Shift + Enter or Click the Start Button</p>
          <p class="caps-lock hide">WARNING: Caps Lock Is On</p>
        </div>
        <div class="card-footer">

          <h4>Score</h4>

          <div class="score-cards">
            <div class="score-card">
              <div class="score-body">
                <h5 class="score-title text-center">WPM</h5>
                <p class="card-text wpmDisp">Ex. 59.63</p>
              </div>
            </div>
            <div class="score-card">
              <div class="score-body">
                <h5 class="score-title">Accuracy</h5>
                <p class="card-text accuracyDisp">Ex. 100.00%</p>
              </div>
            </div>
            <div class="score-card">
              <div class="score-body">
                <h5 class="score-title">Correct</h5>
                <p class="card-text correctDisp">Ex. 150</p>
              </div>
            </div>
            <div class="score-card">
              <div class="score-body">
                <h5 class="score-title">Incorrect</h5>
                <p class="card-text incorrectDisp">Ex. 0</p>
              </div>
            </div>
          </div>

          <div class="reminder">
            <p>Remember: You can press shift + enter at any time to start a new game!</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <a class="btn" href="http://casytravel.herokuapp.com/" target="_blank">Casy Travel</a>
      <a class="btn" href="http://casynova.herokuapp.com/" target="_blank">Casy's Toolbox</a>
    </footer>
  </section>

  <script src="./js/script.js" charset="utf-8"></script>
</body>

</html>