* {
  font-family: Roboto, sans-serif;
}

body {
  background: #e7e7e7;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

h6 {
  color: #6e6e6e;
  letter-spacing: 4px;
}

.logo {
  font-size: 40px;
  font-weight: 200;
  color: #7e7e7e;
  text-decoration: none;
  border: none;
}

.text-display-box,
span {
  font-size: 22px;
  letter-spacing: 2px;
}

span {
  color: #3b8739;
  animation: blinkingCursor;
  animation-duration: .9s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes blinkingCursor {
  0% {
    border-right: 2px solid rgba(47, 47, 47, 0);
  }
  50% {
    border-right: 2px solid #2f2f2f;
  }
  100% {
    border-right: 2px solid rgba(47, 47, 47, 0);
  }
}

em {
  color: #b34f59;
  font-style: normal;
  text-decoration: underline;
}

.start-btn:focus {
  outline: none;
}

.shadow {
  /* box-shadow: 1px 4px 10px rgba(36, 36, 36, 0.44); */
  box-shadow: 4px 10px 40px rgba(36, 36, 36, 0.44);
}

.hide {
  display: none;
}
